
.ewSearchOpr {
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
	color: maroon;
}

/* highlight */
.ewHighlightSearch {
	font-weight: bold;
	background-color: yellow;
}


input, textarea, select
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; /* font name */
	font-size: 11px; /* font size */
	border-right: thin solid #006EA0;
	border-top: thin solid #006EA0;
	font-size: 11px;
	border-left: thin solid #006EA0;
	border-bottom: thin solid #006EA0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #E8F8FF;
	border: 1px solid #006EA0;
	border-style: solid solid solid solid;
	background: #E8F8FF;
	color: #333333;
	
}

input.radio x {
	width: 15px;
	height: 15px;
	border: 0px none;
	background-color: #FFE8E8;
}



.bodybold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #333333;
}
.bodynormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #333333;
}
.bodyboldOrange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #006EA0;
}
.loginbox{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; /* font name */
	font-size: 18px; /* font size */
	border-right: thin solid #006EA0;
	border-top: thin solid #006EA0;
	font-size: 14px;
	border-left: thin solid #006EA0;
	border-bottom: thin solid #006EA0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #E8F8FF;
	border: 1px solid #006EA0;
	border-style: solid solid solid solid;
	background: #E8F8FF;
}
.rsgslug {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4d4d4d;
	text-decoration: none;
}
.ewmsg {
	color: red; /* message color */
	font-family: Verdana; /* font name */
	font-size: 18px; /* font size */
}
.vslCss, .vslcss {
color: #333333!important;
	font-family: Verdana; /* font name */
	font-size: 11px; /* font size */	
}
.ewTable {
color: #333333;
	font-family: Verdana; /* font name */
	font-size: 11px; /* font size */
	border-collapse: collapse;
	border: none;
}
.ewTablecart {
color: #333333;
	font-family: Verdana; /* font name */
	font-size: 11px; /* font size */
	border-left: thin solid #006EA0;
	border-bottom: thin solid #006EA0;
	border-right: thin solid #006EA0;
	border-top: thin solid #006EA0;
	border: 1px;
	padding:5px!important;
	margin:10px 10px 10px 0px!important;
}
.ewTableNoBorder {
color: #333333;
	font-family: Verdana; /* font name */
	font-size: 11px; /* font size */
	border-collapse: collapse;
	border: none;
}
.ewTableHeader {
	background-color: #FFFFFF; /* header color */
	color: #006EA0; /* header font color */
	vertical-align: top;
	padding:5px;
}

.ewTablePager{
	padding:5px;
}
